.controls {
    text-align: center;
    padding: 0.5em 0;
    background: #333e5a;
  }
  
  .controls {
    color: #fff;
  }
  .controls p {
    margin: 0;
  }
  .controls > div {
    margin-bottom: 0.5em;
  }
  .controls > div:last-child {
    margin-bottom: 0;
  }
